#name-input {
    
        border: 1px dotted #999;
        border-radius: 0;
      
        -webkit-appearance: none;
}

h1 {
    font-size: 35px;
}

.title {
    font-size: 25px;
}

.input {
    border: 3px solid sandybrown;
}

.hidden {
    display: none;
}

