#name-input {
    
        border: 1px dotted #999;
        border-radius: 0;
      
        -webkit-appearance: none;
}
/* #name-input {
    background-color: green;
} */

h1 {
    font-size: 35px;
}

.title {
    font-size: 25px;
}

.input {
    border: 1px solid sandybrown;
}

.hidden {
    display: none;
}

